*{
    text-decoration: gold;
    box-sizing: border-box;
    
    

}
.forms{
margin-top: 20px;
background-color:antiquewhite;  
 text-decoration: firebrick;
 width: fit-content;
 /* margin-left: 10%; */
 align-content: center;
 margin-left: 30%;
 margin-top: 50px;
}

h1{
    text-align: center;
}
 h2{
     margin-top: 50px;
 }

/* .forms{
    background-color: rgb(155, 126, 72);
} */

#id{
    background-color: rgb(242, 243, 239);
}
input, textarea, button{
    background:transparent ;
}